// call to action
.block-call_to_action
    .call_to_action
        .description
            p
                font-family: $font-normal
                font-size: $lead-sidebar-size
                font-weight: 400
                line-height: $lead-sidebar-line-height
                @include media-breakpoint-up(desktop)
                    line-height: $lead-sidebar-line-height-desktop
                    font-size: $lead-sidebar-size-desktop