.block
    @include in-page-without-sidebar
        margin-top: $block-space-y-desktop
        margin-bottom: $block-space-y-desktop
    @include media-breakpoint-down(desktop)
        margin-top: $block-space-y
        margin-bottom: $block-space-y
    @include media-breakpoint-up(desktop)
        .top
            margin-bottom: $spacing-4

    
// categories
.post .post-categories,
.post-infos .post-categories,
.post .posts-taxonomies,
.post-infos .posts-taxonomies
    li
        a
            background-color: $color-accent
            color: $color-background
            padding: pxToRem(4) $spacing-1
// TODO: check when there are multiple catagories

// call to action
.block-call_to_action
    .call_to_action
        .block-title
            margin-bottom: $spacing-4
        .description
            p
                font-family: $font-normal
                font-size: $lead-sidebar-size
                font-weight: 400
                line-height: $lead-sidebar-line-height
                text-transform: none
                @include media-breakpoint-up(desktop)
                    line-height: $lead-sidebar-line-height-desktop
                    font-size: $lead-sidebar-size-desktop
        .actions
            a::after
                color: inherit !important
        // to buy revue
        .projects__page &
            .actions
                a
                    text-decoration: none
                    &:nth-child(2)
                        @extend .btn
                        @include button-icon(share-fill)
                    &:last-child
                        &::before
                            @include icon-site(buy)
                            margin-right: space(2)
        @include media-breakpoint-up(desktop)
            .projects__page.full-width &
                .actions a
                    &:last-child
                        padding: var(--btn-padding)
                        padding-top: 0
                        padding-bottom: 0
    &--no_background
        @include in-page-without-sidebar
            .block-content
                padding-top: 0
            .top
                margin-bottom: 0

// events
.events
    &--list
        .media
            aspect-ratio: 1
            @include in-page-with-or-without-sidebar
                margin-right: var(--grid-gutter-negative)
        @include in-page-without-sidebar
            .event-content
                grid-template-columns: repeat(8, 1fr)
                > .event-schedule
                    grid-column: 1 / 4
                > .event-title,
                > .event-subtitle,
                .event-description,
                hgroup
                    grid-column: 4 / 12
    &--grid
        .event
            .event-dates
                @include body-text
                text-transform: none
                font-weight: normal
                + .event-time
                    margin-top: space()
            .event-title,
            .event-subtitle
                @include h4
            .media
                margin-bottom: $spacing-3
                img
                    aspect-ratio: 7/5
            @include media-breakpoint-down(xl)
                .event-title
                    font-size: Min(Max(5vw, $h3-size), $h2-size)
                .event-subtitle
                    font-size: Min(Max(5vw, $h4-size), $h5-size)
.events,
.posts,
.block-posts,
    &--list
        .event,
        article.post
            .media
                img
                    height: 100%
                    object-fit: cover
                    object-position: center
                @include in-page-with-or-without-sidebar
                    width: calc(#{columns(2.2)} + (var(--column-width) * 2))
            @include in-page-with-or-without-sidebar
                border-bottom: 0
                margin-bottom: $spacing-5
                padding-bottom: 0
                .event-time,
                .event-dates
                    font-weight: normal
                    text-transform: none
                .event-dates
                    @include body-text
                .event-time
                    margin-top: space()
                    &, span
                        font-weight: 700
            @include media-breakpoint-down(desktop)
                flex-direction: column
                .media 
                    aspect-ratio: 1
                    margin-left: var(--grid-gutter-negative)
                    margin-right: var(--grid-gutter)
                    margin-bottom: $spacing-3
                    order: -1
                    width: 100%
                    max-width: 100%
            @include media-breakpoint-up(desktop)
                &-content
                    .event-title
                        @include h3
                        text-transform: uppercase
                    .event-subtitle
                        @include h4
                        text-transform: uppercase

// chapter
.block-chapter
    @include in-page-without-sidebar
        .chapter
            .text
                width: columns(6)
        &--with-image
            .chapter figure
                margin-right: calc(-1 * var(--column-width))
                width: columns(5)

// list blocks
.block-posts,
.block-projects,
.block-pages
    &--large
        .post-meta,
        time
            color: var(--color-text)
        .large
            .post,
            .page,
            .project
                a
                    &, &:hover
                        text-decoration: none
                @include media-breakpoint-up(desktop)
                    align-items: center
                @include in-page-without-sidebar
                    .post,
                    .page,
                    .project
                        &-content
                            width: columns(6)
                    .media
                        margin-left: calc(-1 * var(--grid-gutter))
                        width: calc(#{columns(7)} - var(--grid-gutter) - #{space(2)})
                        picture
                            mask-repeat: no-repeat
                            mask-size: 100%
            @include in-page-without-sidebar
                .post,
                .page
                    picture 
                        -webkit-mask-image: url('/assets/images/masks/mask-2.svg')
                        mask-image: url('/assets/images/masks/mask-2.svg')
                        img
                            aspect-ratio: 4/3
                .project
                    picture 
                        -webkit-mask-image: url('/assets/images/masks/mask-1.svg')
                        mask-image: url('/assets/images/masks/mask-1.svg')
                        img
                            aspect-ratio: 768/640
                .post,
                .page,
                .project
                    &-content
                        height: fit-content
                        padding-bottom: $spacing-4
                    .post-title,
                    .page-title,
                    .project-title
                            @include h1
                            @include responsive-h1
                    .post-subtitle,
                    .page-subtitle,
                    .project-subtitle
                            @include h2
                            @include responsive-h2
                    .more
                        display: none
            @include in-page-with-sidebar
                .media img
                    aspect-ratio: 1
                @include media-breakpoint-down(xxl)
                    .post-title,
                    .page-title,
                    .project-title
                        @include h3
                    .post-subtitle,
                    .page-subtitle,
                    .project-subtitle
                        @include h4
                        text-transform: uppercase

// posts
.post
    @include media-breakpoint-down(desktop)
        .media:empty
            display: none

.posts--list,
.block-posts--list,
    &,
    .posts_categories__term &,
    .post__section &
        article
            align-items: flex-start
            .post-meta
                time,
                .post-reading-time
                    @include in-page-with-or-without-sidebar
                        @include meta
    @include in-page-without-sidebar
        .post-content
            width: columns(6)
        .media:empty,
        .media
            margin-left: var(--grid-gutter-negative)
        .media:empty,
        .media picture
            aspect-ratio: 384 / 320
// projects
.block-projects
    &--grid
        .project-content
            gap: 0
            flex-direction: column
            .project-title
                margin-bottom: space(2)
            [itemprop="abstract"]
                margin-top: space(4)
            .project-meta
                margin-top: space(4)
    &--large
        .project
            @include in-page-with-sidebar
                [itemprop="abstract"],
                .project-meta
                    margin-top: space(6)
                .more
                    display: none


// meta
.post,
.page,
.project
    & &-categories,
    time
        text-transform: uppercase
    @include media-breakpoint-up(desktop)
        &-categories
            margin-bottom: $spacing-3 !important
            margin-top: $spacing-3 !important

// pages
.block-pages
    &--list
        &.with-description
            .block-content
                .top
                    .description
                        p
                            text-transform: none
                        @include media-breakpoint-down(xxl)
                            @include h3
                            font-weight: normal
                            font-family: $font-normal
                @include in-page-without-sidebar
                    .top
                        .description p
                            @include lead
                            @include media-breakpoint-down(xxl)
                                font-size: Min(Max(3vw, $lead-size), 40px)
                    .list
                        li
                            text-transform: uppercase
                            font-weight: bold
                            .page-content
                                width: 100%
                                > p
                                    text-transform: none
                                    font-weight: normal
                            a
                                &,
                                &:hover
                                    text-decoration: none

// timeline
.block-timeline
    &--vertical
        .timeline-event
            &::before
                top: space(2)
            &::after
                bottom: space()
                top: space(12)
                width: pxToRem(2)
                @include media-breakpoint-up(desktop)
                    left: calc(-#{$spacing-3} - 0.5px)
        .block-title + &
            margin-top: $spacing-3
            @include media-breakpoint-up(desktop)
                margin-top: $spacing-4

// persons
.block-persons
    article.person
        .person-name
            text-transform: uppercase
    &.block-with-long-text
        &:not(.block-persons--large)
            .person
                .persons
                    @include in-page-without-sidebar
                        .avatar
                            width: columns(1.5)
    &--large
        article.person
            .person-name
                font-weight: $h2-weight
                letter-spacing: -0.224px
                font-family: $font-condensed
            [itemprop="jobTitle"]
                @include lead-hero
            .more
                @extend .sr-only
            @include media-breakpoint-down(desktop)
                flex-direction: row
                .description
                    margin-top: 0
                [itemprop="jobTitle"]
                    @include small
                    text-align: left
                    margin-top: space()
                .avatar
                    width: columns(4)
        // large in event page to imitate signatures
        .events__page &
            article.person
                gap: calc(var(--grid-gutter) / 2)
                .person-name
                    @include h4
                    + div
                        @include body-text
                        margin-top: space(2)
                .avatar
                    width: columns(1.5)

// organizations
.organizations
    .organization
        .organization-title
            bottom: 0
            left: 0
            position: absolute
            right: 0
            top: 0
            a
                font-size: 0
    &,
    &.with-summaries
        .organization
            align-items: center
    &.with-summaries
        @include media-breakpoint-down(md)
            .organization
                .media
                    padding: 0
                    width: columns(4)
                    background-color: $color-background
                    border-radius: 0
        &:not(.block-organizations--map .organizations)
            @include in-page-without-sidebar
                row-gap: $spacing-1

// links
.block-links
    ul
        .link-content
            a
                @include h3
            p
                @include body-text
            @include media-breakpoint-down(desktop)
                padding: 0
                p
                    margin-top: 0
        @include media-breakpoint-down(desktop)
            li + li
                margin-top: $spacing-4