// categories
.post .post-categories,
.post-infos .post-categories
    li
        a
            background-color: $color-accent
            color: $color-background
            padding: pxToRem(4) $spacing-1
// TODO: check when there are multiple catagories

// call to action
.block-call_to_action
    .call_to_action
        .block-title
            margin-bottom: $spacing-4
        .description
            p
                font-family: $font-normal
                font-size: $lead-sidebar-size
                font-weight: 400
                line-height: $lead-sidebar-line-height
                @include media-breakpoint-up(desktop)
                    line-height: $lead-sidebar-line-height-desktop
                    font-size: $lead-sidebar-size-desktop

// events
.events
    &--grid
        .event
            .event-dates
                font-weight: normal
            .media
                img
                    aspect-ratio: 7/5
    &--list
        .event
            border-bottom: 0
            &-content
                .event-time,
                .event-dates
                    font-weight: normal
                .event-dates
                    @include body-text
                .event-time
                    margin-top: space()
            .media
                @include in-page-with-or-without-sidebar
                    margin-right: var(--grid-gutter-negative)
                    width: calc(#{columns(2)} + (var(--column-width) * 2))
                @include media-breakpoint-down(desktop)
                    max-width: 100%
                    margin-bottom: 0
                    margin-top: $spacing-2
                    order: 2
                img
                    aspect-ratio: 1
                    object-fit: cover
                    object-position: center
            @include media-breakpoint-up(desktop)
                margin-bottom: $spacing-5
                padding-bottom: 0
                &-content
                    .event-title
                        @include h3
                        text-transform: uppercase
                    .event-subtitle
                        @include h4
                        text-transform: uppercase

// chapter
.block-chapter
    @include in-page-without-sidebar
        .chapter
            .text
                width: columns(6)
        &--with-image
            .chapter figure
                margin-right: calc(-1 * var(--column-width))
                width: columns(5)

// posts
.block-posts,
.block-projects,
.block-pages
    &--large
        .large
            .post,
            .page,
            .project
                @include media-breakpoint-up(desktop)
                    align-items: center
                @include in-page-without-sidebar
                    .media
                        margin-left: calc(-1 * var(--column-width))
                        width: calc(#{columns(7)} - var(--grid-gutter))
                        picture
                            mask-repeat: no-repeat
                            mask-size: 100%
            @include in-page-without-sidebar
                .post,
                .page
                    picture 
                        -webkit-mask-image: url('/assets/images/masks/mask-2.svg')
                        mask-image: url('/assets/images/masks/mask-2.svg')
                        img
                            aspect-ratio: 4/3
                .project
                    picture 
                        -webkit-mask-image: url('/assets/images/masks/mask-1.svg')
                        mask-image: url('/assets/images/masks/mask-1.svg')
                        img
                            aspect-ratio: 1
            @include in-page-without-sidebar
                .post,
                .page,
                .project
                    &-content
                        position: relative
                        height: fit-content
                        padding-bottom: $spacing-4
                    .post-title,
                    .page-title,
                    .project-title
                        @include h1
                        a
                            &, &:hover
                                text-decoration: none
                    .post-subtitle,
                    .page-subtitle,
                    .project-subtitle
                        @include h2
                    .more
                        display: none
                    time
                        bottom: 0
                        color: $color-text
                        position: absolute
                        text-transform: uppercase
    
// pages
.block-pages
    &--list
        &.with-description
            .block-content
                @include in-page-without-sidebar
                    .top
                        .description p
                            @include lead
                    .list
                        li
                            text-transform: uppercase
                            font-weight: bold
                            .page-content
                                width: 100%
                                > p
                                    text-transform: none
                                    font-weight: normal
                            a
                                &,
                                &:hover
                                    text-decoration: none

// timeline
.block-timeline
    &--vertical
        .timeline-event
            &::after
                bottom: pxToRem(8)
                top: pxToRem(37)
                width: pxToRem(2)
                left: calc(-#{$spacing-3} - 0.5px)

// persons
.block-persons
    &.block-with-long-text
        .person
            .persons
                @include in-page-without-sidebar
                    .avatar
                        width: columns(1.5)
    article.person
        .person-name
            text-transform: uppercase

// organizations
.block-organizations
    .organizations
        .organization
            .organization-content 
                .organization-title
                    @include h4
                    text-transform: uppercase
                    a
                        display: inline
            .media
                border-radius: 100%