header#document-header
    nav.upper-menu
        .container
            ul
                margin-right: var(--grid-gutter-negative)
                padding-left: 0
                padding-right: 0
                li:not(.nav-search)
                    flex: 1
                    a
                        padding-left: var(--grid-gutter)
                        padding-right: var(--grid-gutter)
                        transition: background-color 0.3s ease
                        em
                            font-style: normal
                            opacity: 0.7
                        &:not([href*="https://"], [href*="http://"])
                            background: $color-dark-blue
                            box-shadow: none !important
                    &:hover 
                        [href*="https://"],
                        [href*="http://"]
                            background-color: #003380
        @include media-breakpoint-down(desktop)
            ul
                gap: 0
            html.has-menu-opened &
                background: $header-upper-menu-background
                a, span
                    color: $color-background
        @include media-breakpoint-up(desktop)
            ul
                gap: 0
                justify-content: space-between
                margin-left: var(--grid-gutter-negative)
                width: var(--grid-width)
                li
                    flex: 1
                    text-align: center
                    text-transform: uppercase
                    font-weight: bold
                    &:first-child
                        text-align: left
                    &:last-child
                        text-align: right
                        
    nav:not(.upper-menu)
        @include media-breakpoint-up(desktop)
            .nav-level-1
                > li
                    a
                        text-decoration: underline
                        text-underline-offset: 4px
                        text-decoration-color: transparent
                        text-decoration-thickness: 2px
                        &.active
                            text-decoration-color: $color-accent
                        &:not(.active):hover
                            text-decoration-color: $color-accent-alt
            .nav-level-2
                > li a 
                    text-underline-offset: 5px
        .dropdown-menu
            @include media-breakpoint-up(desktop)
                html.has-menu-opened &
                    border-top: 2px solid $color-accent-alt
                    padding-top: $spacing-5
    // search
    #search 
        .pagefind-ui__form::after
            font-size: pxToRem(20)