@mixin hover-gray
    align-items: center
    aspect-ratio: 1
    border-radius: 100%
    display: flex
    height: pxToRem(54)
    justify-content: center
    transition: background-color 0.3s ease
    width: pxToRem(54)
    &:hover
        background-color: transparentize(black, 0.9)
    button,
    a
        text-align: center
        width: 100%

header#document-header
    nav.upper-menu
        .container
            ul
                margin-right: var(--grid-gutter-negative)
                padding-left: 0
                padding-right: 0
                li:not(.nav-search)
                    flex: 1
                    a
                        padding-left: var(--grid-gutter)
                        padding-right: var(--grid-gutter)
                        transition: background-color 0.3s ease
                        em
                            font-style: normal
                            opacity: 0.7
                        &:not([href*="https://"], [href*="http://"])
                            background: $color-dark-blue
                            box-shadow: none !important
                    &:hover 
                        [href*="https://"],
                        [href*="http://"]
                            background-color: #003380
        @include media-breakpoint-down(desktop)
            ul
                gap: 0
            html.has-menu-opened &
                background: $header-upper-menu-background
                a, span
                    color: $color-background
        @include media-breakpoint-up(desktop)
            ul
                gap: 0
                justify-content: space-between
                margin-left: var(--grid-gutter-negative)
                width: var(--grid-width)
                li
                    flex: 1
                    text-align: center
                    text-transform: uppercase
                    font-weight: bold
                    &:first-child
                        text-align: left
                    &:last-child
                        text-align: right
                        
    nav:not(.upper-menu)
        .nav-level-1
            > li
                @include media-breakpoint-up(desktop)
                    a
                        text-decoration: underline
                        text-underline-offset: 4px
                        text-decoration-color: transparent
                        text-decoration-thickness: 2px
                        &.active
                            text-decoration-color: $color-accent
                        &:not(.active):hover
                            text-decoration-color: $color-accent-alt
                &:nth-last-child(2)
                    --btn-background: #{$block-call-to-action-button-background}
                    --btn-border: #{$block-call-to-action-button-border}
                    --btn-color: #{$block-call-to-action-button-color}
                    --btn-hover-background: #{$block-call-to-action-button-hover-background}
                    --btn-hover-border: #{$block-call-to-action-button-hover-border}
                    --btn-hover-color: #{$block-call-to-action-button-hover-color}
                    a
                        @extend .btn
                &:nth-last-child(3)
                    a
                        @include hover-gray
                        font-size: 0
                        &::after
                            @include icon-site(email)
                            font-size: var(--meta-size)
                        &:hover
                            text-decoration: none
                &:nth-last-child(2),
                &:nth-last-child(3)
                    @include media-breakpoint-down(desktop)
                        border-bottom: 0
            @include media-breakpoint-up(desktop)
                gap: $spacing-3

            .nav-level-2
                > li a
                    text-underline-offset: 5px
        .dropdown-menu
            @include media-breakpoint-up(desktop)
                html.has-menu-opened &
                    border-top: 2px solid $color-accent-alt
                    padding-top: $spacing-5
            li.with-summary
                position: relative
                > a
                    @include h6
                    @include stretched-link(before)
                    @include media-breakpoint-up(desktop)
                        @include h5
                    + p
                        display: block
                        @include media-breakpoint-up(desktop)
    // search
    .nav-search
        @include media-breakpoint-up(desktop)
            @include hover-gray
    #search 
        .pagefind-ui__form::after
            font-size: pxToRem(20)