header.hero
    @include media-breakpoint-up(md)
        &--image-square
            .hero-text
                width: columns(8)
        &--with-image
            .content
                gap: var(--grid-gutter)
    @include media-breakpoint-down(md)
        body:not(.projects__page) &
            margin-bottom: $block-space-y
    .hero-text
        .has-lead p
            @include media-breakpoint-up(desktop)
                margin-top: space(2)
                @include media-breakpoint-down(xxl)
                    font-size: Min(Max(5vw, $h1-size), $h5-size-desktop)
        h1
            span
                @include responsive-h1
            .events__page &,
            .posts__page &,
            .projects__page &
                span
                    position: relative
                    width: fit-content !important
                    @include media-breakpoint-down(desktop)
                        margin: 0 $spacing-2
                    &::before,
                    &::after
                        background:
                            repeat: no-repeat
                            size: contain
                        display: inline-block
                        height: pxToRem(30)
                        width: pxToRem(30)
                    &:first-child
                        color: var(--color-text)
                        &::before
                            content: ''
                            background-image: url('/assets/images/masks/bubble-1.svg')
                            transform: translate(-90%, -60%)
                            position: absolute
                    &:last-child
                        &::after
                            content: ''
                            background-image: url('/assets/images/masks/bubble-2.svg')
                            transform: translate(0%, 90%)
            body:not(.events__page, .projects__page, .posts__page) &
                position: relative
                width: fit-content !important
                @include media-breakpoint-down(desktop)
                    margin: 0 $spacing-2
                &::before,
                &::after
                    background:
                        repeat: no-repeat
                        size: contain
                    display: inline-block
                    height: pxToRem(30)
                    width: pxToRem(30)
                &::before
                    content: ''
                    position: absolute
                    background-image: url('/assets/images/masks/bubble-1.svg')
                    transform: translate(-90%, -60%)
                &::after
                    content: ''
                    background-image: url('/assets/images/masks/bubble-2.svg')
                    transform: translate(0%, 90%)
        > .btn
            margin-top: $spacing-4

    // breadcrumb
    .breadcrumb-nav
        text-transform: uppercase
    // shape for figure
    body:not(.persons__page, .projects__page) &
        figure
            margin-right: var(--grid-gutter-negative)
            width: calc(#{columns(6)} - var(--grid-gutter))
            @include media-breakpoint-down(desktop)
                margin-left: 0
                width: 100%
            picture
                -webkit-mask-image: url('/assets/images/masks/mask-2.svg')
                mask-image: url('/assets/images/masks/mask-2.svg')
                mask-repeat: no-repeat
                mask-size: 100%
                transform: rotate(180deg)
                @include media-breakpoint-down(desktop)
                    margin-right: var(--grid-gutter-negative)
            img
                aspect-ratio: 4/3
                object-fit: cover
                object-position: center
                transform: rotate(180deg)

// persons
.persons__page
    .hero--with-image
        .content
            figure
                display: flex
                align-items: center
                justify-content: center
                position: relative
                &::after
                    aspect-ratio: 1
                    content: ''
                    border: 8px solid $color-accent-alt
                    border-radius: 50%
                    border-top: 8px solid transparent
                    position: absolute
                    transform: rotate(45deg)
                    width: calc(100% + 14px)