header.hero
    .hero-text
        h1
            background: $color-background
            position: relative
            padding-left: $spacing-2
            padding-right: $spacing-2
            width: fit-content !important
            span
                width: fit-content
            &::before,
            &::after
                position: absolute
                content: ''
                border-radius: 100%
                height: pxToRem(40)
                width: pxToRem(40)
                z-index: -1
            &::before
                background: $color-accent-alt
                left: 0
                top: 0
                transform: translate(-50%,-50%)
            &::after
                bottom: 0
                right: -28px
                transform: translate(-22%, 45%)
                background: $color-red-alt
            + p
                margin-top: $spacing-4
    // breadcrumb
    .breadcrumb-nav
        text-transform: uppercase
    // shape for figure
    body:not(.persons__page) &
        figure
            margin-right: var(--grid-gutter-negative)
            width: calc(#{columns(6)} - var(--grid-gutter))
            picture
                -webkit-mask-image: url('/assets/images/masks/mask-2.svg')
                mask-image: url('/assets/images/masks/mask-2.svg')
                mask-repeat: no-repeat
                mask-size: 100%
                transform: rotate(180deg)
            img
                aspect-ratio: 4/3
                object-fit: cover
                object-position: center
                transform: rotate(180deg)

// persons
.persons__page
    .hero--with-image
        .content 
            figure
                display: flex
                align-items: center
                justify-content: center
                position: relative
                &::after
                    aspect-ratio: 1
                    content: ''
                    border: 8px solid $color-accent-alt
                    border-radius: 50%
                    border-top: 8px solid transparent
                    position: absolute
                    transform: rotate(45deg)
                    width: calc(100% + 14px)