.projects
    @include media-breakpoint-up(desktop)
        &__section
            .projects
                display: block
                .project
                    display: flex
                    flex-direction: row
                    gap: var(--grid-gutter)
                    .media
                        max-width: columns(3)
                    [itemprop="abstract"]
                        margin-top: $spacing-4
                        width: columns(7)
.projects__page
    .dropdown-share
        .share
            a
                transition: color 0.3s ease
                &:hover
                    color: transparentize($color-background, 0.2)