<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
  </div>
  <div class="footer-site">
    {{ if or site.Data.school site.Data.laboratory site.Data.journal }}
      {{ partial "footer/site.html" }}
    {{ else }}
      <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <p itemprop="name">Communication publique </p>
        <span itemprop="streetAddress">9 rue du Colonel Driant </span>
        <span itemprop="postalCode">75001</span>
        <span itemprop="addressLocality">Paris</span>
      </address>
    {{ end }}
  </div>
</div>
<div class="container">
  <div class="footer-social">
    {{ $newsletter_menu := partial "GetMenu" "newsletter" }}
    {{ if $newsletter_menu.items }}
      {{ partial "commons/menu.html" (dict
          "context" .
          "kind" "newsletter"
          "level" 1
          "stop" 1
          "class" "footer-cta"
        )}}
    {{ end }}
    {{ partial "footer/social.html" }}
  </div>
  <div class="footer-legals">
    {{ if and (site.Params.search.active) (in site.Params.search.positions "footer") }}
        {{ partial "commons/search/button.html" "footer" }}
    {{ end }}
    {{ partial "footer/legals.html" }}
    {{ partial "footer/credit.html" }}
  </div>
</div>
