<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
  </div>
  <div class="footer-site">
    {{ partial "footer/site.html" }}
  </div>
</div>
<div class="footer-functionalities container">
  <div>
    {{ partial "footer/i18n.html" . }}
    {{ if and (site.Params.search.active) (eq site.Params.search.position "footer")}}
      <div class="container footer-search">
        {{ partial "header/search.html"
          (dict
              "position" "footer"
              "context" .
          )
        }}
      </div>
    {{ end }}
  </div>
  <div>
    {{ $newsletter_menu := partial "GetMenu" "newsletter" }}
    {{ if $newsletter_menu.items }}
      {{ partial "commons/menu.html" (dict
          "context" .
          "kind" "newsletter"
          "level" 1
          "stop" 1
          "class" "footer-button"
        )}}
      {{ end }}
  </div>

</div>
<div class="container">
  <div class="footer-social">
    {{ partial "footer/social.html" }}
  </div>
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
</div>
