@include font-face("SofiaSans", SofiaSans-Regular)
@include font-face("SofiaSans", SofiaSans-Bold, $weight: bold, $exts: (woff2))
@include font-face("SofiaSans", SofiaSans-Italic, $style: italic)
@include font-face("SofiaSans Condensed", SofiaSansExtraCondensed-Bold, $weight: 600)
@include font-face("SofiaSans Condensed", SofiaSansExtraCondensed-ExtraBold, $weight: 700)
@include font-face("SofiaSans Condensed", SofiaSansExtraCondensed-Black, $weight: 900)

// Icons
@font-face
    font-display: block
    font-family: 'icon-site'
    font-style: normal
    font-weight: 400
    src: url('/assets/fonts/icons-site/icomoon.woff') format("woff")

@mixin icon-site($icon)
    @include icon
    font-family: 'icon-site' !important
    content: map-get($icons-site, $icon) !important